.margin-container{
  margin: 20px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card{
  max-width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
  // height: 100vh;
  // display: flex;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-column-container{
  display: flex;
  flex-direction: column ;

}

.spreading-container {
  justify-content: space-between;
  flex: 1;
}

button{
  margin-top: 2rem;
  background-color: rgb(186, 0, 0) !important;
}

.heading{
  font-size: xxx-large;
}

img{
  filter: grayscale(100%);
  border-radius: 20px;
  // filter: opacity(20%);
}

img:hover{
  filter: grayscale(0%);

}

a{
  cursor: pointer;
}
